{% extends "base/base.html" %}




{% block main-contents %}

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Sign in</h4>
          <form method="POST" {% url 'newpassword' uidb64 token %}>
              {% csrf_token %}
              
              {% include "base/alert.html" %}


          <div class="form-group">
                 <input name="password1" class="form-control" placeholder="enter new password" type="password" >
              </div> <!-- form-group// -->
              <div class="form-group">
                <input name="password2" class="form-control" placeholder="confirm-password" type="password" name="password">
              </div> <!-- form-group// -->
              
              <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>

{% endblock %}