{% extends 'base/base.html' %}
{% block main-contents %}
<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    <div class="card-body">
    <h4 class="card-title mb-4">Rset password</h4>
    <form method="POST" action="{% url 'request-reset-email' %}">
        {% csrf_token %}
        {% include "base/alert.html" %}


    <div class="form-group">
           <input name="email" class="form-control" placeholder="Enter-email" type="email" >
        </div> <!-- form-group// -->
        <!-- form-group// -->
    
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
        </div>
         <a href="{% url 'login' %}">Go back</a> <!-- form-group// -->    
    </form>
    </div> <!-- card-body.// -->
  </div> <!-- card .// -->

   

{% endblock main-contents %}


