{% extends "base/base.html" %}
 {% block title %}
 UKspaceX
 {% endblock title %}




{% block main-contents %}

<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title ">Sign Up</h4>
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                {% include "base/alert.html" %}

                <div class="form-group">
                    <input  class="form-control" required placeholder="First Name" name="first_name" type="text">
                </div>
                <div class="form-group">
                    <input  class="form-control" required placeholder="Last Name" name="last_name" type="text">
                </div>

                <div class="form-group">
                    <input  class="form-control" required placeholder="Email" name="email" type="text">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input class="form-control" required placeholder="Password" name="password1" type="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input class="form-control" required placeholder="confirm-password" name="password2" type="password">
                </div> <!-- form-group// -->


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Already have account? <a href=" {% url 'login' %} ">Sign in</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>

{% endblock %}